In [ ]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
# Q3

In [4]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns. It is a fundamental data structure in Pandas and provides a convenient way to store and manipulate structured data. Each column in a DataFrame can contain different data types (e.g., numeric, string, boolean), making it versatile for handling various types of data.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can store data of any type. It is similar to a column in a DataFrame and can be thought of as a single column of data with an associated index. Unlike a DataFrame, a Series does not have column names; it only has a single column of data with a labeled index.

In [5]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
# Series

In [7]:
import pandas as pd

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print(ages)

0    25
1    30
2    27
Name: Age, dtype: int64

In [9]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
head(): It returns the first n rows of a DataFrame. This function is useful to quickly inspect the data and get a glimpse of the DataFrame's structure.

In [12]:
tail(): It returns the last n rows of a DataFrame. Similar to head(), it helps to examine the end of the DataFrame.

In [ ]:
info(): It provides a summary of the DataFrame, including the column names, data types, and memory usage. This function is useful to understand the structure and properties of the DataFrame.

In [ ]:
describe(): It generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. This function provides insights into the distribution and summary statistics of the numerical columns.

In [ ]:
sort_values(): It sorts the DataFrame by one or more columns. This function is useful for arranging the data in a desired order based on specific column(s).

In [13]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Among the options provided, both Series and DataFrame are mutable in nature, whereas Panel is not mutable.

In Pandas, a mutable object is one that can be modified after creation. Here's a breakdown of the mutability of each object:

- Series: A Pandas Series is mutable, meaning you can modify its values, index labels, and other properties. For example, you can change the values of specific elements, add or remove elements, or assign new values to the Series.

- DataFrame: A Pandas DataFrame is also mutable. You can modify its values, add or remove columns, change column names, add or remove rows, and perform various other modifications to the DataFrame's structure and data.

- Panel: A Panel is a three-dimensional data structure in Pandas, but it is considered deprecated and no longer recommended for use. Panels were intended to handle data with three dimensions (items, major_axis, and minor_axis), but their functionality has been largely superseded by other data structures like MultiIndex DataFrames. Panels are not mutable like Series and DataFrames, and their use is discouraged in favor of other more flexible and efficient data structures.

In summary, both Series and DataFrames are mutable objects in Pandas, allowing you to modify their contents and structure. However, the Panel object is deprecated and not mutable.

In [14]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

# Creating the Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating the DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female